
  <ion-pane>
<ion-view view-title="The Black Pearl">
  <ion-content >
  <ion-scroll scrollX="true" scrollY="true">
<div id="slider">
<figure>
<img src="https://images-grouptable.netdna-ssl.com/system/photos/photos/000/001/192/original/Graze_Eatisfy.jpg?1470266292" height="200px" width="200px" alt>

<img src="https://vivanta.tajhotels.com/content/dam/vivanta/hotels/old-mg-road,bangalore/images/feast/M.G-RD-Bangalore_Feast_Images-for-Web_16x7-01.jpg" height="200px" width="200px" alt>

<img src="http://www.venuemonk.com/assets/Bangalore/graze-vivanta-by-taj-mg-road/images/full/graze-vivanta-by-taj-mg-road-1.jpg" height="200px" width="200px"  alt>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYFCrmVzQEvwUE9pYLiebbUgGN5WS1eoU1n0ouKPP1uZ1Ruo8D5A" height="200px" width="200px"  alt>
<img src="https://images-grouptable.netdna-ssl.com/system/photos/photos/000/001/192/original/Graze_Eatisfy.jpg?1470266292" height="200px" width="200px" alt>
</figure>
</div>
    <h4>Address:</h4>105, 2nd & 3rd Floors, Vikas Tech Park, 5th Block 5th Block, Koramangala, Jyoti Nivas College Rd, Koramangala, Bengaluru, Karnataka 560095
   <h4>Phone:</h4><p>080 3045 6333</p>
   <h4>order:</h4><p><a href="https://www.swiggy.com/bangalore/black-peral-5th-block-koramangala?utm_source=google&utm_medium=place_action" style="text-decoration:none"> swiggy.com,</a>
<a href="https://www.foodpanda.in/restaurant/s5cx/barbeque-nation" style="text-decoration:none"> foodpanda.in</a>

<a href="https://www.google.co.in/maps/dir/''/The+Black+Pearl+bangalore/data=!4m5!4m4!1m0!1m2!1m1!1s0x3bae144e2a46378f:0x843db0c887c1a92a?sa=X&ved=0ahUKEwiu3KDrjZfUAhWKK48KHSYMDUoQ9RcInQEwCw" class="float">
<i class="fa icon ion-location my-float larger"></i>
</a>
</ion-scroll>

  </ion-content>
 
</ion-pane>
  