
<ion-scroll scrollX="true" scrollY="true">

<div class="foodi">


<br><br><br><div class = "row icon-row">
 
<div class = "container">
  <a ui-sref="barbe"> 

              <img ng-src="https://images-grouptable.netdna-ssl.com/system/photos/photos/000/017/167/original/Bbq-nation-grouptable-online-small-image-1.jpg?1424774908" alt="Avatar" class="image1" width="50%" style="opacity:0.5px;"/></a>

 

        
            </div>

  

 <!--  -->
<div class = "container"  >
             <a ui-sref="barbe" style="text-decoration:none">       <img ng-src="http://media.istockphoto.com/photos/background-picture-id187021644?k=6&m=187021644&s=170667a&w=0&h=J7t9U5OhZJTUtmrPe_T_aGmKGw_Pf5Wu4z7F-ev7RbM=" width="100%" class='image2'  />
 <p class="absolute-text">Barbeque Nation</a> </p>
        </a>

          </div>
          
        </div>



 
<br><div class = "row icon-row">

<div class = "container"  >
              <a ui-sref="taaza">   <img ng-src="http://www.towntrendz.com/uploads/restaurant_photos/5870/user_photos/2828/29119599322bfe6d0ec113f816912dca.jpg?v=1.0" width="100%" class="image1" /></a>
               
 <!-- <div class="overlay"> -->
   <!-- <div class="text">Know More</div></a> -->
  <!-- </div> -->
            </div>
 

<div class = "container" >
         <a ui-sref="taaza" style="text-decoration:none"> <img ng-src="http://wallpapercave.com/wp/kW5b4pg.jpg" width="100%" class='image2'  />
 <p class="absolute-text">Taaza Thindi</a> </p>
        </a>


            </div>
 
          </div>
 
 
<br><div class = "row icon-row">
 
<div class = "container" >
 <!-- <a ui-sref="page2"> -->
            <a ui-sref="ritz">      <img ng-src="https://media-cdn.tripadvisor.com/media/photo-s/0f/2c/64/bd/the-ritz-carlton-bangalore.jpg" alt="Avatar" class="image1" width="100%"/></a>
            


            </div>
 
<div class = "container" >
             <a ui-sref="ritz" style="text-decoration:none">     <img ng-src="http://wallpapercave.com/wp/t2b5RQY.jpg"  width="100%" class="image2" /> <p class="absolute-text">The Ritz-Carlton</a></a>
 
      </div>
 
         
  </div>



<br><div class = "row icon-row">
 
<div class = "container">
  <a ui-sref="graze"> 

              <img ng-src="http://img01.burrpimg.com/a281db86208e678a1529cf6c964f57d8.jpg" alt="Avatar" class="image1" width="50%" style="opacity:0.5px;"/></a>

 

        
            </div>

  

 <!--  -->
<div class = "container"  >
             <a ui-sref="graze" style="text-decoration:none">       <img ng-src="http://www.colordic.org/image/009854.png" width="100%" class='image2'  />
 <p class="absolute-text">Graze Restaurant</a> </p>
        </a>

          </div>
          
        </div>

 
<br><div class = "row icon-row">
 
<div class = "container">
  <a ui-sref="black"> 

              <img ng-src="https://images-grouptable.netdna-ssl.com/system/photos/photos/000/012/629/original/black-pearl_eatisfy-3.jpg?1470274789" alt="Avatar" class="image1" width="50%" style="opacity:0.5px;"/></a>

 

        
            </div>

  

 <!--  -->
<div class = "container"  >
             <a ui-sref="black" style="text-decoration:none">       <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXD8ubSkPNXyE69qcvVMAHdxlFYguJUpbfMXhodCDef5vrxad7" width="100%" class='image2'  />
 <p class="absolute-text">The Black Pearl</a> </p>
        </a>

          </div>
          
        </div>

<br><div class = "row icon-row">
 
<div class = "container">
  <a ui-sref="rajdhani"> 

              <img ng-src="http://rajdhani.co.in/images/slideshow/home/slide1.jpg" class="image1" width="50%" style="opacity:0.5px;"/></a>

 

        
            </div>

  

 <!--  -->
<div class = "container"  >
             <a ui-sref="rajdhani" style="text-decoration:none">       <img ng-src="http://wallpapercave.com/wp/KqOTVbf.jpg" width="100%" class='image2'  />
 <p class="absolute-text">Rajdhani Thali Restaurant</a> </p>
        </a>

          </div>
          
        </div>





</div>


</ion-scroll>