
  <ion-pane>
<ion-view view-title="Graze Restaurant">
  <ion-content >
  <ion-scroll scrollX="true" scrollY="true">
<div id="slider">
<figure>
<img src="https://images-grouptable.netdna-ssl.com/system/photos/photos/000/001/192/original/Graze_Eatisfy.jpg?1470266292" height="200px" width="200px" alt>

<img src="https://vivanta.tajhotels.com/content/dam/vivanta/hotels/old-mg-road,bangalore/images/feast/M.G-RD-Bangalore_Feast_Images-for-Web_16x7-01.jpg" height="200px" width="200px" alt>

<img src="http://www.venuemonk.com/assets/Bangalore/graze-vivanta-by-taj-mg-road/images/full/graze-vivanta-by-taj-mg-road-1.jpg" height="200px" width="200px"  alt>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYFCrmVzQEvwUE9pYLiebbUgGN5WS1eoU1n0ouKPP1uZ1Ruo8D5A" height="200px" width="200px"  alt>
<img src="https://images-grouptable.netdna-ssl.com/system/photos/photos/000/001/192/original/Graze_Eatisfy.jpg?1470266292" height="200px" width="200px" alt>
</figure>
</div>
<div class="con">
    <h4>Address:</h4>41/3, Vivanta by Taj M G Road, Mahatma Gandhi Road, Bengaluru, Karnataka 560001.
   <h4>Phone:</h4><p>  080666 04444</p>
   <h4>order:</h4><p><a href="https://www.swiggy.com/bangalore/graze-from-vivanta-by-taj-trinity-circle-central-bangalore?utm_source=google&utm_medium=place_action" style="text-decoration:none"> swiggy.com,</a>
<a href="https://www.foodpanda.in/restaurant/s5cx/barbeque-nation" style="text-decoration:none"> foodpanda.in</a>
</div>
<a href="https://www.google.co.in/maps/dir/''/the+graze+restaurant+bangalore/@12.9733596,77.5497145,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x3bae169cae32658f:0x537a7f4456d7ed9a!2m2!1d77.619755!2d12.973369" class="float">
<i class="fa icon ion-location my-float larger"></i>
</a>
</ion-scroll>

  </ion-content>
 
</ion-pane>
  