
 <ion-pane>
           
            <ion-header-bar class="bar-positive" icon="ion-home">
                 <button class="button small_button ion-chevron-left  icon-right" ui-sref="home">
      </button>
                <h1 class="title" align="left" >Tour To Bangalore!</h1>
            </ion-header-bar>
            
 


<ion-view view-title=""  hide-nav-bar="true">
  <ion-content class="padding">
 <div id="slider">
<figure>
<img src="http://bangalore.mallsmarket.com/sites/default/files/photos/malls/OrionMall_Malleswaram_3.jpg" height="200px" width="200px" alt>

<img src="https://media-cdn.tripadvisor.com/media/photo-s/07/51/fe/a1/orion-mall.jpg" height="200px" width="200px" alt>

<img src="http://media.makemyhangout.com/Orion-Mall/Inside-the-Mall-Orion-Mall.jpg" height="200px" width="200px"  alt>
<img src="http://cdn1.brandwiki.today/sites/55/2017/01/RETAIL_ORION-MALL_1.jpg" height="200px" width="200px"  alt>
<img src="http://bangalore.mallsmarket.com/sites/default/files/photos/malls/OrionMall_Malleswaram_3.jpg" height="200px" width="200px" alt>
</figure>
</div>
 <h3 align="center">Welcome to Orion Mall!</h3><br><br><br>
      <p> 
A world-class mall in every facet, the iconic Orion Mall at Brigade Gateway is Brigade Group's flagship mall venture and has won every accolade and prestigious award bestowed by the most recognised industry associations in India. This premium mall set high standards across construction, architecture, consumer experience, and marketing; and quickly established itself as the benchmark among its peers. Spread across 76,180 square metres, with every detail of a rich modern retail environment woven in, Orion Mall at Brigade Gateway is a true game changer in the mall industry.
</p>
    <div class="item tabs tabs-secondary tabs-icon-left white-tabs">
      <a class="tab-item white-tab-text" href="http://www.orionmalls.com/index">
        <i class="icon ion-earth"></i>
       website
      </a>

      <a class="tab-item white-tab-text" href="https://en.wikipedia.org/wiki/Orion_Mall">
        <i class="icon ion-ios-book"></i>
        wikipedia
      </a>
      <a class="tab-item white-tab-text" href="https://www.google.co.in/maps/place/Orion+Mall/@13.0107881,77.5527122,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae1629af0c075f:0x3c984ebd22cd5d54!8m2!3d13.0107881!4d77.5549009">
        <i class="icon ion-location"></i>
        Location
      </a>
    </div>
  </div>
   
    
    </div>
  </ion-content>
</ion-view>