
 <ion-pane>
           
            <ion-header-bar class="bar-dark">
               <button class="button  ion-home small_button  icon-right" ui-sref="home">
      </button>
                <h1 class="title" align="left">Tour To Bangalore!</h1>
            </ion-header-bar>
            
 


<ion-view view-title="Simple Application Page 2">
  <ion-content class="padding">
  <div class="list card">
    <div class="item item-image">    
      <img src="http://im.hunt.in/cg/City-Guide/iskcon.jpg">
     
    </div>
    
     Welcome to ISKON TEMPLE!<br>
Bangalore has two ISKCON (International Society for Krishna Consciousness) temples, one of which is Sri Radha Krishna Temple, located at Hare Krishna Hill, Rajaji Nagar. Built in a magnificent architectural style, the temple is a perfect union of spirituality and modernity. Inaugurated in the year 1997, the place houses the temples dedicated to the deities of Sri Sri Radha Krishnachandra, Sri Sri Krishna Balarama, Sri Srinivasa Govinda, Sri Sri Nitai Gauranga and Sri Prahlada Narasimha. The temple attracts devotees or tourists from all over the world as it provides a great spiritual experience.
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left white-tabs">
      <a class="tab-item white-tab-text" href="https://www.iskconbangalore.org/">
        <i class="icon ion-earth"></i>
       website
      </a>

      <a class="tab-item white-tab-text" href="https://en.wikipedia.org/wiki/ISKCON_Temple_Bangalore">
        <i class="icon ion-ios-book"></i>
        wikipedia
      </a>
      <a class="tab-item white-tab-text" href="https://www.google.co.in/maps/place/ISKCON+Bangalore/@13.0058423,77.5154697,13.67z/data=!4m5!3m4!1s0x3bae3ded0b360e07:0x7a7fb24a41a6b2b3!8m2!3d13.0096323!4d77.551071">
        <i class="icon ion-location"></i>
        Location
      </a>
    </div>
  </div>
   
     
    </div>
  </ion-content>
</ion-view>