
 <ion-pane>
           
            <ion-header-bar class="bar-positive" icon="ion-home">
                 <button class="button small_button ion-chevron-left  icon-right" ui-sref="home">
      </button>
                <h1 class="title" align="left" >Tour To Bangalore!</h1>
            </ion-header-bar>
            
 


<ion-view view-title="" hide-nav-bar="true"
>
  <ion-content class="padding">
  <div id="slider">
<figure>
<img src="http://www.bangalorebest.com/WondersOfBangalore/imgaes/CubbanPark/CubbanPark.jpg" height="200px" width="200px" alt>

<img src="http://images.deccanchronicle.com/dc-Cover-otvumdfbvplfubmnb7ock9v477-20161229050605.Medi.jpeg" height="200px" width="200px" alt>

<img src="https://media-cdn.tripadvisor.com/media/photo-s/02/77/71/55/cubbon-park.jpg" height="200px" width="200px"  alt>
<img src="http://cdn.deccanchronicle.com/sites/default/files/CUBBON%20PARK1.jpg" height="200px" width="200px"  alt>
<img src="http://www.bangalorebest.com/WondersOfBangalore/imgaes/CubbanPark/CubbanPark.jpg" height="200px" width="200px" alt>
</figure>
</div>

 <h3 align="center">  Welcome to Cubbon Park!</h3><br><br><br><br>
      <p>
The Cubbon Park is situated in the central administrative area of the city of Bengaluru, Karnataka. The park houses buildings that are aesthetically designed, magnificent statues of famous personalities, and rich flora and fauna. The popularity of the park can be gauged from the fact that Bengaluru is nicknamed the Garden City after the park. The natural beauty of the park-flowerbeds, massive bamboo trees, monuments, statues and buildings--makes the landscape interesting for not only tourists but also enthusiasts, nature-lovers, joggers, naturalists and botanists.
</p>
    <div class="item tabs tabs-secondary tabs-icon-left white-tabs">
      <a class="tab-item white-tab-text" href="http://www.horticulture.kar.nic.in/cubbon.htm">
        <i class="icon ion-earth"></i>
       website
      </a>

      <a class="tab-item white-tab-text" href="https://en.wikipedia.org/wiki/Cubbon_Park">
        <i class="icon ion-ios-book"></i>
        wikipedia
      </a>
      <a class="tab-item white-tab-text" href="https://www.google.co.in/maps/place/Cubbon+Park/@12.9763472,77.5907397,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae1673e7d0672f:0xc62ca5a6e943dfb8!8m2!3d12.9763472!4d77.5929284">
        <i class="icon ion-location"></i>
        Location
      </a>
    </div>
  </div>
   
    
    </div>
  </ion-content>
</ion-view>