
  <ion-pane>
<ion-view view-title="Rajdhani Thali Restaurant">
  <ion-content >
  <ion-scroll scrollX="true" scrollY="true">
<div id="slider">
<figure>
<img src="https://magicpin.imagekit.io/tr:h-280,w-825/221448_cover_pic.jpg" height="200px" width="200px" alt>

<img src="http://rajdhani.co.in/images/slideshow/home/slide1.jpg" height="200px" width="200px" alt>

<img src="https://photos.asklaila.com/photos/sgs/0s3VQsgs/Restaurant-Bangalore-Rajdhani-Restaurant-0s3VQsgs-4f339c50ad639_regular.jpg" height="200px" width="200px"  alt>
<img src="https://photos.asklaila.com/photos/fYh/MTKbWfYh/Restaurant-Bangalore-Rajdhani-Restaurant-MTKbWfYh-4fe5b2b45d493_regular.jpg" height="200px" width="200px"  alt>
<img src="https://magicpin.imagekit.io/tr:h-280,w-825/221448_cover_pic.jpg" height="200px" width="200px" alt>
</figure>
</div>
<div class="con">
    <h4>Address:</h4>3rd Floor, Mantri Square, Sampige Road, Malleshwaram, Bengaluru, Karnataka 560003
   <h4>Phone:</h4><p>    080 2266 7345</p>
   <h4>order:</h4><p><a href="https://www.swiggy.com/bangalore/rajdhani-malleshwaram?utm_source=google&utm_medium=place_action" style="text-decoration:none"> swiggy.com,</a>
<a href="https://www.foodpanda.in/restaurant/s5cx/barbeque-nation" style="text-decoration:none"> foodpanda.in</a>
</div>
<a href="https://www.google.co.in/maps/place/Rajdhani+Thali+Restaurant/@12.9917933,77.535151,13z/data=!3m1!5s0x3bae162300608c7d:0xe8c76fea607322c4!4m8!1m2!2m1!1srajdhani+thali+restaurant+bangalore!3m4!1s0x3bae1623a8c70227:0xec9c2114e4771dd1!8m2!3d12.9917933!4d77.5701699" class="float">
<i class="fa icon ion-location my-float larger"></i>
</a>
</ion-scroll>

  </ion-content>
 
</ion-pane>
  